<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <div class="page-background">
                <div>
                  <div  class="centered">
                    <div class="row">
                        <div class="col-sm-6 home-icon">
                            <a href="/BookBox/BookBoxUX/#/" ><img src="/BookBox/BookBoxUX/assets/img/logos/bookbox_logo2.png"  width="160" height="60" ></a>
                        </div>
                        <div class="col-sm-2 separator"></div>
                        <div class="col-sm-2" ng-keydown="$event.keyCode === 13 && performLogin(username,password)">
                        <div class="row custom-2">
                            <md-input-container>
                                <label>Username or Email</label>
                                <input ng-model="username" autofocus>
                            </md-input-container>
                        </div> 
                        <div class="row custom-2">
                            <md-input-container>
                                <label>Password</label>
                                <input ng-model="password" type=password>
                            </md-input-container>
                        </div> 
                        <div class="row row-width">
                            <a href="" class="btn btn-success row-width"  ng-click="performLogin(username,password)" ng-keydown="$event.keyCode === 13 && performLogin(username,password)">Sign In</a>
                        </div>
                        <div class="row row-width">
                            <a href="/BookBox/BookBoxUX/#/signup"  class="bb-header-hyperlinks sign-up-link">Sign Up</a>
                        </div>    
                      </div>
                     </div>    
                    </div> 
                  </div>
                  

                </div>
    </body>
</html>
