   

    
            <div class="headerToolbar row">
               <div class="col-xs-3">
                  <a href="/BookBox/BookBoxUX/#/"><img id="bookboxlogo" src="/BookBox/BookBoxUX/assets/img/logos/bookbox_logo2.png" class="img-responsive" width="134" height="42" ></a>
              </div>
                <div class="col-xs-1 ml-auto">
                    <div class="dropdown">  
                  <img id="catIco" data-toggle="dropdown" src="/BookBox/BookBoxUX/assets/img/icons/Categories.png" class="img-responsive bb-img-hov" width="32" height="32" >
                  <div class="dropdown-menu menuDropDown">
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(1,'Action and Adventure')">Action and Adventure</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(2, 'Autobiographies and Biographies')">Autobiographies and Biographies</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(3, 'Business and Economics')">Business and Economics</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(4, 'Computing')">Computing</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(5, 'Healthy Living')">Healthy Living</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(6, 'Humour')">Humour</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(7, 'Personal Development')">Personal Development</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(8, 'Romance')">Romance</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(9, 'Science and Technology')">Science and Technology</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(10, 'Science Fiction')">Science Fiction</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(11, 'Sports')">Sports</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(12, 'Travel')">Travel</a>
                     </div>
                    </div>
              </div>
                <div class="col-xs-1">
                    <div class="dropdown">
                    <a id="catDropdown" href="" class="float-right bb-header-hyperlinks dropdown-toggle" data-toggle="dropdown">Categories</a>  
                     <div class="dropdown-menu menuDropDown">
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(1,'Action and Adventure')">Action and Adventure</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(2, 'Autobiographies and Biographies')">Autobiographies and Biographies</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(3, 'Business and Economics')">Business and Economics</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(4, 'Computing')">Computing</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(5, 'Healthy Living')">Healthy Living</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(6, 'Humour')">Humour</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(7, 'Personal Development')">Personal Development</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(8, 'Romance')">Romance</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(9, 'Science and Technology')">Science and Technology</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(10, 'Science Fiction')">Science Fiction</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(11, 'Sports')">Sports</a>
                         <a class="dropdown-item menu-item" href="" ng-click="goToCategoriesPage(12, 'Travel')">Travel</a>
                     </div>
                    </div>
                </div>
                <div class="col-xs-1">
                    <a id="signIn" href="/BookBox/BookBoxUX/#/login" class="float-right bb-header-hyperlinks">Sign In</a>    
                </div>

            </div>
        