<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
    </style>

</head>

<body>
<anonymous-header></anonymous-header>
<div style="display:inline-block; position:relative; width:100vw">
<logged-in-navbar style="position:absolute;height:100%;" ng-hide="currentUser == ''"></logged-in-navbar>
<search-box selected-type="selectedType" search-text="searchText" selected-item="selectedItem"></search-box>
<div class="container">
<div class="row">  
<div class="col-sm-12">
    <h2 class="title">{{categoryDetails.name}}</h2>
    <div class="row">
    <div ng-repeat="item in categoryDetails.books" class="col-sm-2 col-xs-2 col-md-2 col-lg-2 category-book">
    	<a href=""  ng-click="goToAnonymousBookPage(item)" >
                <div class="d-flex justify-content-center category-img">
                     <img alt="category1" ng-src="/BookBox/BookBoxUX/assets/img/bookCovers{{item.localImageUrl}}" width="160" height="250">
                </div>
                <div>
                    <span class="truncate category-title">{{item.title}}</span>
                    <md-tooltip md-direction="bottom">{{item.title}}</md-tooltip>
                </div>
                <div class="category-author" style="display:inline;">
                   <span>{{item.author}}</span>
                    
                </div>
                </a>
                <span><add-to-playlist style="float:right;" ng-if="currentUser != ''"  user-id="currentUserId" book="item" user-name="currentUser" ></add-to-playlist></span>
            
    </div>      
    </div>
       
  </div>
 </div>  
</div>
</div>
</body>

</html>