<html>
        <head>
            <style>
                .bold{
                    font-weight: bold;
                }
                a:link {
                  text-decoration: none;
                }

                a:visited {
                  text-decoration: none;
                  border-color:    transparent;    
                }

                a:hover {
                  text-decoration: none;
                }

                a:active {
                  text-decoration: none;
                  border-color:    transparent;
                }
            </style>
        </head>
        <body>
            
            <anonymous-header></anonymous-header>
            <div style="display:inline-block; position:relative; width:100vw;height:100%">
                <logged-in-navbar style="position:absolute;min-height: 100vh;" current-selection="4"></logged-in-navbar>
                <search-box selected-type="selectedType" search-text="searchText" selected-item="selectedItem"></search-box>
                <h2 class="title" style="margin-left: 90px;">Settings</h2>
                <div class="row" style="height:80vh;width:90vw;margin-left: 100px; border: 1px solid #292929; background: #F2F2F2">
                    <div class="col-sm-3" style="border-right: 3px solid white; margin-left:10px;">
                        <div class="row" style="margin-top: 20px;">
                            <a href="" class="links" ng-class="{bold:selected}" ng-click="accountInfoSelListener()" >Account Info</a>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <a href="" class="links"  ng-class="{bold:!selected}" ng-click="preferredCatSelListener()" >Preferred Categories</a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                      <div ng-if="selected">
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-sm-10">
                               <h4 class="bookLabel" style="margin-left: 20px;">Account Info for {{user.name}}</h4>
                            </div>
                            <div class="col-sm-1" style="margin-left: 68px;">
                                <a href="/BookBox/BookBoxUX/#/editUser" class="btn btn-success">Edit User Info</a>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;margin-left: 30px;">
                           <h6 class="bookLabel">Name:</h6>
                        </div>
                        <div class="row" style="margin-left: 30px;">
                            {{user.name}}
                        </div>
                        
                        <div class="row" style="margin-top: 20px; margin-left: 30px;">
                           <h6 class="bookLabel">Username:</h6>
                        </div>
                        <div class="row" style="margin-left: 30px;">
                            {{user.username}}
                        </div>
                          
                        <div class="row" style="margin-top: 20px; margin-left: 30px;">
                           <h6 class="bookLabel">Email:</h6>
                        </div>
                        <div class="row" style="margin-left: 30px;">
                           {{user.email}}
                        </div>
                        
                        <div class="row" style="margin-top: 20px; margin-left: 30px;">
                            <h6 class="bookLabel">Credit Card:</h6>
                        </div>
                        <div class="row" style="margin-left: 30px;">
                            {{user.cardNumber}}
                        </div>
                        
                        <div class="row" style="margin-top: 20px; margin-left: 30px;">
                           <h6 class="bookLabel">Plan:</h6>
                        </div>
                        <div class="row" style="margin-left: 30px;">
                           {{user.plan.planName}}
                        </div>
                        
                        <div class="row" style="margin-top: 20px; margin-left: 30px;">
                           <h6 class="bookLabel">Payment Type:</h6>
                        </div>
                        <div class="row" style="margin-left: 30px;">
                           {{user.paymenttype.type}}
                        </div>  
                      </div>    
                        <div ng-if="!selected">
                            <div style="height:65vh;width:59vw;background: white;margin:50px;overflow-y: scroll;">
                                <div ng-repeat="item in allCategories" style="margin-left: 20px;" class="custom-checkbox-fill">
                                    <md-checkbox ng-model="item.selection" aria-label="item.categoryName" style="margin-top:10px" ng-change="togglePfdCategory(item.selection, item.categoryId)">
                                                    {{item.categoryName}}
                                    </md-checkbox>

                                 </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </body>
    </html>