<md-dialog aria-label="Mango (Fruit)">
 
  <form ng-cloak>
    <md-dialog-content>
      <div class="dialog-content">
        <h4 class="dialog-header">{{bookForReview.title}}</h4> 
          <h6 class="dialog-avg-rating">Average Rating:<span>{{bookForReview.averageRating}}</span></h6>
          
          <div class="star-rating-div">
            <star-rating max="5" rating-value="bookForReview.averageRating" read-only="true" ng-if="bookForReview.averageRating > 0"></star-rating>
            <span class="review-count" ng-if="bookForReview.averageRating > 0">({{reviews.length}})</span>
              <span class="rating-separator" ng-if="bookForReview.averageRating > 0">
              </span>
              <span><a class="links" href="">WRITE REVIEW</a></span>
          </div>
          <div class="dialog-separator">
          </div>
          <div class="user-review-div" ng-if="reviews.length>0">
            <h6>Reviews By Other Book Box Members.</h6>
            <div class="user-rating-container">      
            <div ng-repeat="review in reviews" class="user-rating">
                <star-rating max="5" rating-value="review.rating" read-only="true" style="margin-bottom: 3px"></star-rating>
                <div class="review-comment">{{review.reviewComment}}</div>
                <p>By {{review.user.name}} on {{review.reviewDate}}</p>
            </div> 
            </div>
          </div>
          <div class="user-review-div-2" ng-if="reviews.length===0">
            <h6>Be the first to write a review.</h6>
          </div>
              
      </div>   
    </md-dialog-content>
  </form>
</md-dialog>