<html>
        <head>
            <style>
            </style>
        </head>
        <body>
            
            <anonymous-header></anonymous-header>
            <div style="display:inline-block; position:relative; width:100vw; height:100vh">
                <logged-in-navbar style="position:absolute;height:100%;" current-selection="3"></logged-in-navbar>
                <search-box selected-type="selectedType" search-text="searchText" selected-item="selectedItem"></search-box>
                <h2 class="title" style="margin-left: 70px;">History</h2>
            </div>
        </body>
    </html>