<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <div class="page-background-1">
            <div class="row home-row">
                <div class="col-sm-12">
                    <a href="/BookBox/BookBoxUX/#/"><img src="/BookBox/BookBoxUX/assets/img/logos/bookbox_logo2.png"  width="140" height="50"></a>
                 </div>
                
            </div>
            <div class="row header-row">
                <div class="col-sm-12">
                    <h3>Sign up for Book Box</h3>
              </div>
                
            </div>
            <div class="row sub-heading-row">
                <div class="col-sm-12">
                    <p>Enter your details to create an account</p>
              </div>
               
            </div>    
            <div class="row details-row-1">
              <div class="col-sm-6 border-separator">
                  <div class="row justify-center custom">
                            <md-input-container>
                                <label>Name</label>
                                <input ng-model="name" autofocus required>
                            </md-input-container>
                        </div> 
                        <div class="row justify-center custom">
                            <md-input-container>
                                <label>Username</label>
                                <input ng-model="username" required>
                            </md-input-container>
                        </div> 
                  <div class="row justify-center custom">
                            <md-input-container>
                                <label>Email</label>
                                <input ng-model="email" required>
                            </md-input-container>
                        </div> 
                  
                  <div class="row justify-center custom">
                            <md-input-container>
                                <label>Password</label>
                                <input ng-model="password" type="password" required>
                            </md-input-container>
                        </div> 
                        <div class="row justify-center custom">
                            <md-input-container>
                                <label>Confirm Password</label>
                                <input ng-model="confirmPassword" type="password" required>
                            </md-input-container>
                        </div> 
                        <div class="row justify-center custom">
                            <md-input-container>
                                <label>Credit Card</label>
                                <input ng-model="creditCard" required>
                            </md-input-container>
                        </div> 
              </div>
              <div class="col-sm-6 details-row-2">
                <div class="row justify-center custom">
                   <md-input-container>
                        <label>Plan</label>
                        <md-select  ng-model="plan">
                              <md-option value="Elite">Elite</md-option>
                              <md-option value="Premium">Premium</md-option>
                              <md-option value="Basic">Basic</md-option>
                        </md-select> 
                    </md-input-container>  
                    <a href="" class="bb-header-hyperlinks plan-link" ng-click="openPlanDetailDialog($event)">Plan Details</a>
                  </div>
                  <div class="row justify-center details-row-3 custom">
                   <md-input-container>
                        <label>Payment Type</label>
                        <md-select  ng-model="paymentType">
                              <md-option value="Yearly">Yearly- Pay Every Year</md-option>
                              <md-option value="Bi-Annual">Bi-Annual- Pay Every 6 Months</md-option>
                              <md-option value="Monthly">Monthly- Pay Every Month</md-option>
                              <md-option value="Fortnightly">Fortnightly- Pay Every 15 Days</md-option>
                        </md-select> 
                    </md-input-container>  
                  </div>
                  <div class="row auto-deduct-row custom">
                     <md-checkbox ng-model="autoDeduction" aria-label="Allow Auto-Deduction">
                            Allow Auto-Deduction
                     </md-checkbox>
                  </div>
                   <div class="row justify-center sign-up-row">
                        <a href="" class="btn btn-success" ng-click="signUp()">Sign Up</a>
                    </div>
                  <div class="row justify-center sign-in-row">
                      <p>Already Have an account?</p> <span><a href="/BookBox/BookBoxUX/#/login"  class="bb-header-hyperlinks">Sign In</a></span>
                 </div>
              </div>
            </div>
        </div>
    </body>
</html>