<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-dialog-content>
      <div class="plan-dialog">
        <div class="row plan-row">
            <div class="col-sm-4 plan-col">
                <div class="row plan-detail-row">
                    <h4 class="col-header-1">ELITE</h4>
                </div>
                <div class="row plan-detail-row">
                    <h1 class="col-price">&#8377;4.17<span>/day</span></h1>
                </div>
                <div class="row plan-detail-row-2">
                    <i class="ion-ios-checkmark-circle"></i>
                    <span>Unlimited access to all the books online</span>
                </div>
                <div class="row plan-detail-row-2">
                    <i class="ion-ios-checkmark-circle"></i>
                    <span>Support ticket resolution time of 8 hours.</span>
                </div>
                <div class="row plan-detail-row-2">
                    <i class="ion-ios-checkmark-circle"></i>
                    <span>Unlimited book download.</span>
                </div>
            </div>
            <div class="col-sm-4 plan-col">
                <div class="row plan-detail-row">
                    <h4 class="col-header-2">PREMIUM</h4>
                </div>
                <div class="row plan-detail-row">
                    <h1 class="col-price">&#8377;3.34<span>/day</span></h1>
                </div>
                <div class="row plan-detail-row-2">
                    <i class="ion-ios-checkmark-circle"></i>
                    <span>Unlimited access to all the books online</span>
                </div>
                <div class="row plan-detail-row-2">
                    <i class="ion-ios-checkmark-circle"></i>
                    <span>Support ticket resolution time of 12 hours.</span>
                </div>
                <div class="row plan-detail-row-2">
                    <i class="ion-ios-checkmark-circle"></i>
                    <span>Download upto 5 books in a day.</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row plan-detail-row">
                    <h4 class="col-header-2">BASIC</h4>
                </div>
                <div class="row plan-detail-row">
                    <h1 class="col-price">&#8377;2.34<span>/day</span></h1>
                </div>
                <div class="row plan-detail-row-2">
                    <i class="ion-ios-checkmark-circle"></i>
                    <span>Unlimited access to all the books online</span>
                </div>
                <div class="row plan-detail-row-2">
                    <i class="ion-ios-checkmark-circle"></i>
                    <span>Support ticket resolution time of 24 hours.</span>
                </div>
                <div class="row plan-detail-row-2">
                    <i class="ion-ios-close-circle"></i>
                </div>
            </div>

        </div>
              
      </div>   
    </md-dialog-content>
  </form>
</md-dialog>

