<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-dialog-content>
      <div style="width:75vw; height:45vh; overflow-y: hidden">
        <div style="width:100%; height:80%;margin-top: 3%; margin-bottom: 3%;" class="row">
            <div class="col-sm-4" style="border-right: 1px solid #777; margin-right: 0;padding-right: 0;">
                <div class="row" style="width:100%;">
                    <h4 style="justify-content: left; margin-left: 30px; color:#777; font-weight: 400;">ELITE</h4>
                </div>
                <div class="row" style="width:100%;">
                    <h1 style="justify-content: center; margin-left: 80px; color:#e67e22; font-weight: 200;font-size: 50px;">&#8377;4.17<span style="font-size: 20px;font-weight: 400;">/day</span></h1>
                </div>
                <div class="row" style="margin-left: 15px;">
                    <i class="ion-ios-checkmark-circle" style="font-size:22px; color:rgba(40, 167, 69, 0.83);"></i>
                    <span style="margin-left: 10px;margin-right: 10px; margin-top: 6px;font-size: 14px;">Unlimited access to all the books online</span>
                </div>
                <div class="row" style="margin-left: 15px;">
                    <i class="ion-ios-checkmark-circle" style="font-size:22px; color:rgba(40, 167, 69, 0.83);"></i>
                    <span style="margin-left: 10px;margin-right: 10px; margin-top: 6px;font-size: 14px;">Support ticket resolution time of 8 hours.</span>
                </div>
                <div class="row" style="margin-left: 15px;">
                    <i class="ion-ios-checkmark-circle" style="font-size:22px; color:rgba(40, 167, 69, 0.83);"></i>
                    <span style="margin-left: 10px;margin-right: 10px; margin-top: 6px;font-size: 14px;">Unlimited book download.</span>
                </div>
            </div>
            <div class="col-sm-4" style="border-right: 1px solid #777; margin-right: 0;padding-right: 0;">
                <div class="row" style="width:100%;">
                    <h4 style="justify-content: left;margin-left: 25px; color:#777;font-weight: 400;">PREMIUM</h4>
                </div>
                <div class="row" style="width:100%;">
                    <h1 style="justify-content: center; margin-left: 80px; color:#e67e22; font-weight: 200;font-size: 50px;">&#8377;3.34<span style="font-size: 20px;font-weight: 400;">/day</span></h1>
                </div>
                <div class="row" style="margin-left: 15px;">
                    <i class="ion-ios-checkmark-circle" style="font-size:22px; color:rgba(40, 167, 69, 0.83);"></i>
                    <span style="margin-left: 10px;margin-right: 10px; margin-top: 6px;font-size: 14px;">Unlimited access to all the books online</span>
                </div>
                <div class="row" style="margin-left: 15px;">
                    <i class="ion-ios-checkmark-circle" style="font-size:22px; color:rgba(40, 167, 69, 0.83);"></i>
                    <span style="margin-left: 10px;margin-right: 10px; margin-top: 6px;font-size: 14px;">Support ticket resolution time of 12 hours.</span>
                </div>
                <div class="row" style="margin-left: 15px;">
                    <i class="ion-ios-checkmark-circle" style="font-size:22px; color:rgba(40, 167, 69, 0.83);"></i>
                    <span style="margin-left: 10px;margin-right: 10px; margin-top: 6px;font-size: 14px;">Download upto 5 books in a day.</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row" style="width:100%;">
                    <h4 style="justify-content: left;margin-left: 25px; color:#777;font-weight: 400;">BASIC</h4>
                </div>
                <div class="row" style="width:100%;">
                    <h1 style="justify-content: center; margin-left: 80px; color:#e67e22; font-weight: 200;font-size: 50px;">&#8377;2.34<span style="font-size: 20px;font-weight: 400;">/day</span></h1>
                </div>
                <div class="row" style="margin-left: 15px;">
                    <i class="ion-ios-checkmark-circle" style="font-size:22px; color:rgba(40, 167, 69, 0.83);"></i>
                    <span style="margin-left: 10px;margin-right: 10px; margin-top: 6px;font-size: 14px;">Unlimited access to all the books online</span>
                </div>
                <div class="row" style="margin-left: 15px;">
                    <i class="ion-ios-checkmark-circle" style="font-size:22px; color:rgba(40, 167, 69, 0.83);"></i>
                    <span style="margin-left: 10px;margin-right: 10px; margin-top: 6px;font-size: 14px;">Support ticket resolution time of 24 hours.</span>
                </div>
                <div class="row" style="margin-left: 15px;">
                    <i class="ion-ios-close-circle" style="font-size:22px; color:rgba(244, 1, 1, 0.83);"></i>
                </div>
            </div>

        </div>
              
      </div>   
    </md-dialog-content>
  </form>
</md-dialog>

