    <!DOCTYPE html>
    <!--
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    -->
    <html>
        <head>
          <style>
          </style>

        </head>
        <body>
           <!-- <ng-include src="'/BookBox/BookBoxUX/app/shared/anonymousToolbar/anonymousToolbar.html'"></ng-include> -->
            <anonymous-header></anonymous-header>
            <search-box selected-type="selectedType" search-text="searchText" selected-item="selectedItem"></search-box>
         <script type="text/ng-template" id="tpl.html">
                        <a href="" ng-click="goToAnonymousBookPage(item)">
                            <div class="d-flex justify-content-center carousal-template-img-div">
                             <img alt="category1" ng-src="/BookBox/BookBoxUX/assets/img/bookCovers{{item.localImageUrl}}" height="250">
                            </div>
                              <div class="carousal-template-title-div">
                                 <span class="truncate">{{item.title}}</span>
                                 <md-tooltip md-direction="bottom">{{item.title}}</md-tooltip>
                             </div>
                             <div class="carousal-template-author-div">
                                 <span>{{item.author}}</span>
                             </div>
                          </a>
                          
        </script>

        <h3 class="section-heading">Popular Books</h3>
        <h6 class="section-brief">Keep pace with your peers. Browse the most-viewed books.</h6>
         <div class="container carousal" >
             <slick infinite=false slides-to-show=4 slides-to-scroll=4 dots=false arrows=true lazyLoad=progressive ng-if="booksLoaded">
                 <div ng-repeat="item in popularBooks">
                     <div class="carousal-template-container" ng-include="'tpl.html'" >

                     </div>
                 </div>
             </slick>
         </div>
        <h3 class="section-heading">Recently Added</h3>
        <h6 class="section-brief">Never miss a release. View all the latest titles that we’ve added.</h6>
        <div class="container carousal" >
             <slick infinite=false slides-to-show=4 slides-to-scroll=4 dots=false arrows=true lazyLoad=progressive ng-if="booksLoaded">
                 <div ng-repeat="item in newBooks">
                     <div class="carousal-template-container" ng-include="'tpl.html'" >

                     </div>
                 </div>
             </slick>
         </div>
        <h3 class="section-heading">Trending Books</h3>
        <h6 class="section-brief">See what others are reading. Explore our most popular titles.</h6>
        <div class="container carousal">
             <slick infinite=false slides-to-show=4 slides-to-scroll=4 dots=false arrows=true lazyLoad=progressive ng-if="booksLoaded">
                 <div ng-repeat="item in trendingBooks">
                     <div class="carousal-template-container" ng-include="'tpl.html'" >

                     </div>
                 </div>
             </slick>
         </div>
        </body>
    </html>
