/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 Sep, 2018, 4:30:23 PM
    Author     : varun
*/

.bb-header-hyperlinks{
    color: #CBD9EF;
}

.bb-header-hyperlinks:hover{
    color: white;
}

.bb-img-hov:hover{cursor: pointer;}

.links{
      color:#FA551B;
      }
.links:hover{
      color:#FA551B;
}

.truncate{
    width: 200px;
    display:block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: #666666;
}

.custom-checkbox-fill md-checkbox.md-checked .md-icon{background-color:rgba(40, 167, 69, 0.83);}

