.bookContainer{
    margin:20px;
    background:#F2F2F2;
}
.bookTitle{
    font-weight: bold;
}
.bookLabel{
    color:#666666; 
}
.bookImg{
    margin:20px;
}
.detailsCol{
    margin-top: 20px;
}
.readButton{
    color:white;
    width:280px;
}
.read-button-col{
    margin:20px
}
.book-description{
    margin-bottom: 20px;
    margin-left: 35px;
    margin-right: 20px;
}
.links{
    color:#FA551B;
}
.links:hover{
    color:#FA551B;
}
                
.review{
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
}