.truncate{
    width: 167px;
    display:block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title{
    margin-left:10px;
    margin-top:25px;
    color:#666666;
    font-weight:bold;
}
.category-book{
    background:#F2F2F2;
    margin:10px; 
}
.category-book a{
    text-decoration: none;
}
.category-img{
    margin-top:15px;
}
        
.category-author{
    margin-bottom:15px;
}
        
.category-title{
    color:black; 
    font-weight:bold;
}
        
.category-author span{
    color:#3B3A3A; 
    font-size:small 
}
        