#navwrapper{
    background-color:#666666;
    
}
#navContentWrapper{
    position:relative;
    background-color:#666666;
    transition: 0.3s;
}
#navContentWrapper nav{
    position:absolute;
    
}
.navContentHover{left:0px;
        transition: 0.3s;
        background-color:#666666;
        height:1500px;
        width:150px;}
.navContent{
    left:-200px;
    transition: 0.3s;
}
#navContentWrapper li{
    padding-top:25px;
    padding-bottom: 8px;
    margin-left: 5px;
    margin-right: 15px;
    border-bottom:0.1px solid #9e9e9e;
}


#navContentWrapper a{
    color: white;
    font-size:13px;
    
}
#navContentWrapper a:hover{
    color: white;
    font-size:13px;
}

#navwrapper li{
    margin-top:25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 15px
}

