 <!DOCTYPE html>
    <!--
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    -->
    <html>
        <head>
            <style>
            </style>
        </head>
        <body>
            <!--<ng-include src="'/BookBox/BookBoxUX/app/shared/anonymousToolbar/anonymousToolbar.html'"></ng-include> -->
            <anonymous-header></anonymous-header>
            <div style="display:inline-block; position:relative; width:100vw">
                <logged-in-navbar style="position:absolute;height:100%;" ng-hide="currentUser == ''"></logged-in-navbar>
            <search-box selected-type="selectedType" search-text="searchText" selected-item="selectedItem"></search-box>
            <div class="d-flex justify-content-center">
            <div class="container bookContainer">
                <div class="row">
                    <div class="col-sm-2 bookImg">
                        <div class="d-flex justify-content-center">
                            <img alt="selectedBook" ng-src="/BookBox/BookBoxUX/assets/img/bookCovers{{bookOnDisplay.localImageUrl}}" height="250" > 
                        </div>
                         
                    </div>
                    <div class="col-sm-6 detailsCol">
                        <div class="row">
                            <h3 class="bookTitle">{{bookOnDisplay.title}}</h3>
                        </div> 
                         <div class="row">
                             <star-rating max="5" rating-value="rating" read-only="true"></star-rating>
                             <span><a href="" class="links review" ng-click="showAnonymousReviewDlg($event)">{{reviewCount}} Reviews</a></span>
                        </div>
                         <div class="row">
                             <h6 class="bookLabel">By:</h6>
                             <span><a href="" class="links" ng-click="goToAuthorPage(bookOnDisplay.author)">{{bookOnDisplay.author}}</a></span>
                        </div>
                         <div class="row">
                             <h6 class="bookLabel">Publisher:</h6>
                             <span><a href="" class="links" ng-click="goToPublisherPage(bookOnDisplay.publisher)">{{bookOnDisplay.publisher}}</a></span>
                        </div>
                         <div class="row">
                             <h6 class="bookLabel">Category:</h6>
                             <span><a href="" class="links" 
                                      ng-click="goToCategoriesPage(bookOnDisplay.categoryId.categoryId, bookOnDisplay.categoryId.categoryName)">{{bookOnDisplay.categoryId.categoryName}}</a></span>
                        </div>
                         <div class="row">
                             <h6 class="bookLabel">Read by {{bookOnDisplay.readCount}} readers</h6>
                        </div>
                    </div>
                    <div class="col-sm-3 read-button-col">
                        <div>
                            <a href="" class="btn btn-success readButton">START READING NOW</a>    
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="book-description">
                        <h5 class="bookLabel">Book Description</h5>
                        <p>{{bookOnDisplay.description}}</p>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </body>
    </html>